    <!DOCTYPE html>
    <html lang="pt-br">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
        <title>Cadastrar Promoções</title>
    </head>
    
    <body style="padding-left:20px; padding-right:20px;">
        
        <h3 class="alert alert-success">Cadastrar Promoções Relâmpago</h3>

                    <form action="/promocoes" method="POST">
                        <div class="form-group">
                            <label for="mensagem">Mensagem a ser exibida</label>
                            <input type="text" class="form-control" name="mensagem" />
                        </div>
                        <div class="form-group">
                            <label for="livro">Selecione o Livro</label>
                            <select class="form-control" name="livro[titulo]">
                                <!-- Aque é utlizada essa forma livro[id] por causa do BodyParser -->
                                <% for(i=0; i < lista.length; i++) {%>
                                    <option value="<%=lista[i].titulo%>">
                                        <%=lista[i].titulo%>
                                    </option>
                                    <%}%>
                            </select>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Enviar Promoção Relâmpago" />
                    </form>
    
    </body>
    
    </html>